.layout {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.feed {
    width: 50%;
    margin: 20px;
}

.feed h2 {
    margin: 20px 0;
}

.diet {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 20px;
}

.diet h2 {
    padding: 10px 0;
}


.popularCalDiv {
    padding: 20px;
    background-color:blanchedalmond;
    margin: 10px 0;
}   