.layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.feed {
    width: 50%;
}

.diet {
    width: 25%;
}

.notsure {
    width: 25%;
}

.popularCalDiv {
    padding: 20px;
    background-color:blanchedalmond;
    margin: 10px 0;
}   