.calendarBody {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(auto-fill, 200px);
    gap: 20px;
}

.calendar {
    display: flex;
    flex-direction: column;
}