@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

.day {
    display: flex;
    flex-direction: column;
    background-color: rgb(177, 177, 177);
    padding: 5px;
    overflow: hidden;
    border-radius: 5px;
    height: max-content;
}

.day p {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    
}

.day:hover {
    cursor: pointer;
    background-color: rgb(120, 120, 120);
    transition: background 0.3s ease
}

.highlighted {
    background-color: #ffd591;
}

.meal {
    display: flex;
    background-color: brown;
    margin: 10px;
    padding: 10px;
    width: 150px;
    flex-direction: column;
}

.modalClosed {
    display: none;
}

.modalOpen {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 20;
}

.dayContent {
    background-color: white;
    width: 75%;
    height: 75%;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7px;
    font-family: 'Montserrat', sans-serif;
}

.dayContent h3 {
    font-family: 'Montserrat', sans-serif;
}

.dayContent div {
    width: 50rem;
    background-color: blanchedalmond;
    padding: 20px;
    font-weight: bold;
    border: 1px solid #ffd591;
    border-radius: 20px;
    margin: 10px;
}

.dayContent p {
    font-family: 'Montserrat', sans-serif;
    font-weight:300;
}

.exitModal {
    position: fixed;
    z-index: 100;
    right: 8%;
    top: 8%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-image: url("../../assets/x_circle.svg");
    background-position: center;
    background-size: contain;
    background-color: transparent;
    filter: invert(99%) sepia(1%) saturate(609%) hue-rotate(194deg) brightness(104%) contrast(100%);
}