.day {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    padding: 50px;
}

.meal {
    display: flex;
    background-color: brown;
    margin: 10px;
    padding: 10px;
    width: 150px;
    flex-direction: column;
}

.modalClosed {
    display: none;
}

.modalOpen {
    display: flex;
    flex-direction: column;
}